*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
}

.navbar{
    height: 10%;
    max-height: 70px;
    min-height: 70px;
}

.navbar .container{
    border: 5px solid blue;
    justify-content: space-between;
}

.page{
    display: flex;
    flex-direction: column;;
}

li{
    border: 2px solid black;
    width: min-content;
    min-width: 70px;
    list-style-type: none;
}

.content .container{
    border: 5px solid red;

}

.sidebar{
    width:80px;
}
.sidebar .container{
    flex-direction:column;

}

.sidebar .container li{
    width: 70px;
    height: 70px;
}

.header{
    height: 20%;
    min-height: 10%;
    max-height: 100px;
    border: 5px solid blue;;
}

.main-section .container{
    flex-direction: column;
}

.car .container{
    flex-direction: row;
}

.car{
    max-height: 90%;
}

.col{
    width: min-content;
}

.car-col{
    flex: 4;
    border: 5px solid blue;
}

.stats-col{
    flex: 1 1 auto;
    border: 5px solid blue;
    max-width: 25%;
}

.colors .container{
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    height: 100%;
    width: auto;
    
}

.colors img{
    max-height: 30%;
    max-width: 100%;
    height: auto;
}

.photo{
    min-width: 75%;
    border: 5px solid purple;
}

.car-col .container .car-image{
    display:flex;
    min-height: 60%;
    min-width: 75%;
    flex-direction: row;
    flex: 1 1 auto;
}

.col.stats-col.container{
    flex-direction: column;
}

.chart{
    border:2px solid pink;
    flex: 2 1 0;
}

.chart2{
    border: 2px solid pink;
    flex: 3 1 0;

}

.cards{
    flex: 1 1 auto;
    height: 40%;
    display: flex;
}

.card{
    border: 2px solid pink;
}


.car-col .container{
    flex-direction: column;
}


