*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
}

body{
    background-color:whitesmoke;
}

.container{
    display: flex;
}

.navbar{
    height: 10%;
    max-height: 70px;
    min-height: 70px;
}

.navbar .container{
    padding-top: 5px;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.page{
    display: flex;
    flex-direction: column;
}

.content .container{
    column-gap: 15px;
}

li, li img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 70px;
    list-style-type: none;
    flex: 0 1 auto;
}
.sidebar{
    width: 70px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sidebar .container{
    flex-direction:column;

}

.sidebar .container li{
    max-width: 70px;
    max-height: 70px;
}

.header{
    height: 20%;
    min-height: 10%;
    max-height: 100px;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}

.main-section .container{
    flex-direction: column;
}

.car .container{
    flex-direction: row;
}

.car{
    max-height: 90%;
}

.col{
    width: min-content;
}

.car-col{
    flex: 4;
}

.stats-col{
    flex: 1 1 auto;
    max-width: 25%;
}

.colors .container{
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
    height: 100%;
    width: auto;
    background-color: white;
    border-radius: 0 2rem 2rem 0;
}

.colors img{
    max-height: 30%;
    max-width: max-content;
    align-self: center;
    height: auto;
    margin-right: 15px;
    border-radius: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


img{
    max-width: 100%;
    height:auto;
    align-self: center;
}
.photo{
    min-width: 75%;
    height:auto;
    max-width: 75%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 1rem 0 0 1rem;
}

.photo img{
    flex: 0 0 auto;
    height: auto;
    max-width: max-content;
    max-height: 100%;
    align-self: center;
}
.car-col .container .car-image{
    display:flex;
    min-height: 60%;
    min-width: 75%;
    flex-direction: row;
    flex: 1 1 auto;
    margin-bottom: 10px;
    border-radius: 1.85rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.col.stats-col.container{
    flex-direction: column;
    
}

.chart{
    flex: 1 1 auto;
    height:100%;
    display: flex;
    padding-top: 10px;
    

}

.chart img{
    align-self: flex-start;
    border-radius: 1rem;
    padding: 0 3px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.chart.bar{
    flex: 1 1 0;
}


.cards{
    flex: 1 1 auto;
    max-height: 40%;
    height: min-content;
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card{
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    flex: 1 1 auto;
    border-radius: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

h2{
    flex: 0 1 0;
    max-width: 100%;
    margin-left: 5%;
    font-weight:bolder;
    color: red;
}
p{
    flex: 1 1 0;
    margin-left: 5%;
    max-width: 100%;
}

.car-col .container{
    flex-direction: column;
}


